<script lang="ts" setup>
import { ref } from "vue";

const number = ref(0);
</script>

<template>
  <v-container>
    <v-row>
      <v-text-field
        label="Please input Number"
        v-model.number="number"
        :rules="[(v) => !!v || 'Nunber is not empty!!']"
        required
        style="margin-top: 3%"
      ></v-text-field>
    </v-row>
    <v-row>
      <v-col cols="1" v-for="index in number" :key="index">
        {{ index }}
      </v-col>
    </v-row>
  </v-container>
</template>
