<script lang="ts" setup>
import { ref } from "vue";

const message = ref("Smile");
const emote = ref("../../feeling_imgs/smile.png");

function changeAngry() {
  message.value = "Angry";
  emote.value = "../../feeling_imgs/angry.png";
  return message;
}
function changeCute() {
  message.value = "Cute";
  emote.value = "../../feeling_imgs/cute.png";

  return message;
}
function changeExcited() {
  message.value = "Excited";
  emote.value = "../../feeling_imgs/excited.png";

  return message;
}
function changePain() {
  message.value = "Pain";
  emote.value = "../../feeling_imgs/pain.png";

  return message;
}
function changeShocked() {
  message.value = "Shocked";
  emote.value = "../../feeling_imgs/shocked.png";

  return message;
}
function changeSmile() {
  message.value = "Smile";
  emote.value = "../../feeling_imgs/angry.png";

  return message;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <img :src="emote" alt="" />
      </v-col>
      <div class="align-center">
        <v-col>
          <div id="text">
            <h1 style="margin: 0px 30px 25px 115px">{{ message }}</h1>
          </div>
          <v-col>
            <v-row>
              <v-btn
                class="btn"
                style="width: 300px; margin: 10px"
                @click="changeAngry"
              >
                Angry
              </v-btn>
            </v-row>
            <v-row>
              <v-btn
                class="btn"
                style="width: 300px; margin: 10px"
                @click="changeCute"
              >
                Cute
              </v-btn>
            </v-row>
            <v-row>
              <v-btn
                class="btn"
                style="width: 300px; margin: 10px"
                @click="changeExcited"
              >
                Excited
              </v-btn>
            </v-row>
            <v-row>
              <v-btn
                class="btn"
                style="width: 300px; margin: 10px"
                @click="changePain"
              >
                Pain
              </v-btn>
            </v-row>
            <v-row>
              <v-btn
                class="btn"
                style="width: 300px; margin: 10px"
                @click="changeShocked"
              >
                Shocked
              </v-btn>
            </v-row>
            <v-row>
              <v-btn
                class="btn"
                style="width: 300px; margin: 10px"
                @click="changeSmile"
              >
                smile
              </v-btn>
            </v-row>
          </v-col>
        </v-col>
      </div>
    </v-row>
  </v-container>
</template>

<style scoped>
.btn:active,
.btn:hover,
.btn:focus {
  background-color: yellow;
}
</style>
