<script setup lang="ts">
import { ref } from "vue";

const first = ref(0);
const second = ref(0);

function increment() {
  first.value = first.value + 1;
  second.value = second.value + 2;
  return { first, second };
}
function decrease() {
  if (first.value != 0 && second.value != 0) {
    first.value = first.value - 1;
    second.value = second.value - 2;
  }
  return { first, second };
}
</script>
<template>
  <v-container>
    <v-row style="margin: 20px 0 20px 0">
      <v-col>
        <v-row style="margin: 20px 0 20px 0"> FirstComponent </v-row>
        <v-row style="margin: 20px 0 20px 0">{{ first }}</v-row>
        <v-row style="margin: 20px 0 20px 0">
          <v-btn @click="increment">INCREMENT</v-btn>
        </v-row>
      </v-col>
      <v-col>
        <v-row style="margin: 20px 0 20px 0"> SecondComponent </v-row>
        <v-row style="margin: 20px 0 20px 0">{{ second }}</v-row>
        <v-row style="margin: 20px 0 20px 0">
          <v-btn @click="decrease">DECREASE</v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
